# logs
*.log

# dependency directories
node_modules

# environment variables file
.env
.env.example

# compiled files
dist

# docker
Dockerfile
docker-compose.yaml

# ignore files
.*ignore
README.md
package-lock.json